.env
/node_modules
/vendor
/storage/*.key
Homestead.json
Homestead.yaml
/public/js/
/public/css/
/public/fonts/
/public/hot
/public/images
/public/storage
/public/mix-manifest.json
/*.log
/.vagrant
/.idea
npm-debug.log
yarn-error.log

/resources/js/app/*
/component/*

.DS_Store
**/.DS_Store