/* ************************************************************************* */
/* ------------------------- Importing google fonts ------------------------ */
/* ************************************************************************* */

/* **** Lato Font **** */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/vendor/google-fonts/lato/lato-latin-italic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/vendor/google-fonts/lato/lato-latin-italic-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/vendor/google-fonts/lato/lato-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/vendor/google-fonts/lato/lato-latin-normal-700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Montserrat **** */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/vendor/google-fonts/Montserrat/Montserrat-latin-normal-300.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/vendor/google-fonts/Montserrat/Montserrat-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/vendor/google-fonts/Montserrat/Montserrat-latin-normal-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Montserrat **** */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/vendor/google-fonts/Open-sans/Open-sans-latin-italic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url('../fonts/vendor/google-fonts/Open-sans/Open-sans-latin-italic-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Raleway **** */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-italic-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-normal-300.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/vendor/google-fonts/Raleway/Raleway-latin-normal-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* **** Work Sans **** */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url('../fonts/vendor/google-fonts/Work-sans/Work-sans-latin-normal-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Work Sans Medium'), local('WorkSans-Medium'), url('../fonts/vendor/google-fonts/Work-sans/Work-sans-latin-normal-500.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url('../fonts/vendor/google-fonts/Work-sans/Work-sans-latin-normal-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ************************************************************************* */
/* ------------------------- Defining Constants ---------------------------- */
/* ************************************************************************* */

// Theme variables
$primary-color: #000;
$primary-color-transparent: #000;
$darkFont1: #404040;
$darkFont2: #606060;
$subDarkFont1: #746766;
$tealColor: #39C6A9;
$footer-font: #E8E8E8;

// Font family
$Lato: 'Lato', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$WorkSans: 'Work Sans', sans-serif;

$border: solid 1px rgba(46,62,72,.12);

/* ************************************************************************* */
/* ---------------------------- Theme Design ------------------------------- */
/* ************************************************************************* */

@media (min-width: 320px) {

}

// End of Media 320px

@media (min-width: 383px) {
  
}

@media (min-width: 551px) {

}

@media (min-width: 620px) {

}

@media (min-width: 769px) {
  
}

@media (min-width: 992px) {

}

@media (min-width: 1224px) {

}

/* ************************************************************************* */
/* ---------------------------------- Custom ------------------------------- */
/* ************************************************************************* */

@import "_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Blueprint
@import "~normalize.css/normalize.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


// Sticky footer

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height; /* Margin bottom by footer height */
  font-size: 1rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

// Left side bar

.left-sidebar {

    background-color: $clean-color;
    width: 230px;
    left: 0;
    position: absolute;

    .nav-link {
      color: #ccc;
      font-size: 0.8rem;
      font-weight: 100;
      line-height: 38px;
      padding: 0 2rem;
      background: transparent;
    }

    .nav-link:hover {
      background: #283e62;
    }

    .nav-link.active {
      transition: background-color .2s ease;
      background-color: #2481d7;
      width: calc(100% + 4px);
      border-radius: 0 2px 2px 0;
      color: white;
    }

}

.left-sidebar:before {
      content: "";
      position: fixed;
      z-index: -1;
      width: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: inherit;
}

.card,
.bp3-dialog,
.dropdown-menu
{
  border-radius: 0.5rem;
  border: none;
}

.bp3-button,
.bp3-input,
.bp3-toast,
.bp3-callout,
.pagination
{
  border-radius: 0.3rem;
}

.text-hover-danger:hover {
  color: map-get($theme-colors, 'danger') !important;
}

// Content

section.content {
  position: relative;
  left: 0;
  margin-left: 230px;
  min-height: 100%;
  padding: 2rem;
  font-size: 13px;
}

@include media-breakpoint-down(xs) {
  section.content {
    margin-left: 0;
    padding: 0.5rem;
  }
}

// Admin

.navbar-brand {
  font-size: 1rem;
}

.admin-brand {
  padding: 0.5rem 1rem;
}
